footer{
  .smallFooter{
    border-top: 1px solid $primary-color-one;
    height:rem-calc(100);
    padding-top: 1rem;
    .disclaimerContent{
      a{
        display: inline-block;

      }
    }
  }
  ul{
    &.socialMedia{
      list-style: none;
      li{
        display: inline-block;
        margin-right: 0.5rem;
      }
      li:nth-of-type(1){
        margin-left: 0.5rem;
      }
    }
  }
}
